<%- include('../partials/dashboard-header'); %>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navbar">
          <div class="container">
               <!-- <a class="navbar-brand" href="#">Container</a>      This is where the logo goes.-->
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/dashboard">Dasboard</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/orders">Orders</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/deliveries">Deliveries</a>
                         </li>
                    </ul>
                    <div class="nav-item dropdown" style="padding-right: 20px;">
                         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                              style=color:white;>
                              <i class="large user circle icon"></i>
                              <% if (user) { %>
                                   <i>
                                        <%= user.firstName %>
                                   </i>
                              <% } %>
                         </a>
                         <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/profile">Profile</a></li>
                              <li><a class="dropdown-item" href="/settings">Settings</a></li>
                              <li>
                                   <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" href="/logout">Logout</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </nav>

     <body>
          <main>
               <div class="head-text">
                    <h1 class="ui center aligned header">Profile</h1>
               </div>

               <!-- Dummy form  -->
                    <div class="login-form" id="dummyform">
                         <form >
                              <div class="disabled field mb-3">
                                   <label>First Name</label>
                                   <input  type="text" name="firstName" class="form-control" 
                                   placeholder="<%= user.firstName %>" aria-label="Disabled input example" disabled>
                              </div>
                              <div class="disabled field mb-3">
                                   <label>Last Name</label>
                                   <input  type="text" name="lastName" class="form-control" 
                                   placeholder="<%= user.lastName %>" aria-label="Disabled input example" disabled>
                              </div>
                              <div class="disabled field mb-3">
                                   <label>Email</label>
                                   <input type="text" name="email" class="form-control" 
                                   placeholder="<%= user.email %>" aria-label="Disabled input example" disabled>
                              </div>
                              <div class="disabled field mb-3">
                                   <label >Password</label>
                                   <input type="text" name="password" class="form-control" 
                                   placeholder="******************" aria-label="Disabled input example" disabled>
                              </div>
                         </form>
                         <br>
                         <button onclick=formChange() class="btn btn-dark">
                              Edit
                         </button>
                         <br>
                         <%- message %>
                    </div>

               <!-- The form below is the form that needs to be saved -->
               <div class="login-form" id="realform" hidden>
                    <form method="post" action="/profile">
                         <div class="field">
                              <input type="text" placeholder="profile" name="profile" value="true" hidden>
                         </div>
                         <div class="field">
                              <input type="text" placeholder="User ID" name="id" value="<%= user.id %>" hidden>
                         </div>
                         <div class="disabled field">
                              <label for="floatingInput">First Name</label>
                              <input id="floatingInput" type="text" name="firstName" class="form-control"
                              value="<%= user.firstName %>">
                         </div>
                         <div class="disabled field">
                              <label for="floatingLastName">Last Name</label>
                              <input id="floatingLastName" type="text" name="lastName" class="form-control"
                              value="<%= user.lastName %>">
                         </div>
                         <div class="disabled field">
                              <label for="floatingEmail">Email</label>
                              <input id="floatingEmail" type="email" name="email" class="form-control" 
                              value="<%= user.email %>">
                         </div>
                         <div class="disabled field">
                              <label for="floatingPassword">Password</label>
                              <input type="password" placeholder="**********" name="password" id="password" class="form-control"
                              value="" onkeyup=check() >
                         </div>
                         <div class="disabled field">
                              <label for="floatingConfirmPass">Confirm Password</label>
                              <input type="password" placeholder="**********" id="confirm_password"class="form-control" 
                              value="" onkeyup=check()>
                              <span id='message'></span>
                         </div>
                         <br>
                         <button class="btn btn-dark" type="submit">
                              Save
                         </button>
                    </form>
                    <br>
                    <button onclick=cancelChange() class="btn btn-dark">
                         Cancel
                    </button>
               </div>
               <br>
          </main>
          <script>
               let check = function () {
                    if (document.getElementById('password').value ==
                         document.getElementById('confirm_password').value) {
                         document.getElementById('message').style.color = 'green';
                         document.getElementById('message').innerHTML = 'Matching';
                    } else {
                         document.getElementById('message').style.color = 'red';
                         document.getElementById('message').innerHTML = 'Not Matching';
                    }
               }
               let formChange = function () {
                         document.getElementById("dummyform").hidden = true;
                         document.getElementById("realform").removeAttribute("hidden")
                    }
               let cancelChange = function () {
                    document.getElementById("realform").hidden = true;
                    document.getElementById("dummyform").removeAttribute("hidden")
               }     
          </script>

<%- include('../partials/footer'); %>